<style>
body
{
  background:#000009;
  background-image: url(../../assets/imgs/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form.begin
{
  border-radius:5px;
  padding: 10px;
  box-shadow: -5px 5px 5px rgba(8,116,171,0.7);
  margin:50px auto 0 auto;
  display:block;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(248,103,2,0.5) , rgba(8,116,171,0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(248,103,2,0.5), rgba(8,116,171,0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(248,103,2,0.5), rgba(8,116,171,0.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(248,103,2,0.5) , rgba(8,116,171,0.5)); /* Standard syntax */

}

 form.begin h1
 {
   text-align: center;
   text-transform: uppercase;
   font-family: 'Amaranth', sans-serif;
   color: rgba(255,75,2,1);
   text-shadow: 2px 2px rgba(8,116,171,1)
 }

.begin label
{
  text-transform: uppercase;
  display:inline-block;
  padding-right:5px;
  font-weight:bold;
  letter-spacing: 1px;
  color:#000;
}

.begin input[type="text"]
{
  font-size: 15px;
  letter-spacing: 1px;
  padding:5px;
  font-weight:bold;
  background:rgba(255,255,255,0.5);
  max-width: 330px;
  /*set makes character length*/
}

/*.begin input[type="submit"]*/
.begin button[type="submit"]
{
  -webkit-appearance: button;
  border:solid 1px #000;
  display:block;
  width:40%;
  height:50px;
  font-size:20px;
  margin: 30px auto;
  background:rgba(187,187,187,0.3);
  border-radius:10px;
  text-shadow: 1px 1px #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*.begin input[type="submit"]:hover*/
.begin button[type="submit"]:hover
{
  background:#1479CC;
  background:rgba(20,121,204,0.3);
  color:white;
  text-shadow: 1px 1px #000;
}
</style>
<!-- <div class="center"> -->
<div class="container">
  <div class="row">
    <div class=col-sm-3></div>
    <div class=col-sm-6>
      <form class="begin" action="/names" method="post">
        <h1> Enter your names to do <br>!! Battle !!</h1>
        <% if(session['err']) %>
          <%= session['err'] %>
          <% session['err'] = nil %>
        <% end %>

        <div class ="form-group row">
          <label for="player1_name" class="col-3 col-form-label">Player 1 :  </label>
          <div class="col-9">
            <input type="text" name="player1_name" placeholder="Enter your name" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="player2_name" class="col-3 col-form-label">Player 2 :  </label>
          <div class="col-9">
            <input type="text" name="player2_name" placeholder="Enter your name" class="form-control">
          </div>
        </div>
        <button type="submit" class=btn>Battle</button>
      </form>
    </div>
    <div class=col-sm-3></div>
  </div>
</div>
<!-- </div> -->
