<div class="center">
  <form class="begin" action="/names" method="post">
    <h1> Enter your names to do
      <br>!! Battle !!</h1>
    <div class ="input_group">
      <label for="player1_">Player 1 :  </label>
      <input type="text" name="player1_name" placeholder="Enter your name">
    </div>

    <div class="input_group">
      <label>Player 2 :  </label>
        <input type="text" name="player2_name" placeholder="Enter your name">
    </div>
    <input type="submit" value="Battle" class="hope">
    <!-- <input type="submit" value="Enter" class="hope"> -->
  </form>
</div>
